# Byte-compiled / optimized / DLL files
*.py[codz]
*$py.class
/Onigiri_game/__pycache__
/Onigiri_game/scripts/__pycache__
/Onigiri_game_server/__pycache__
/Onigiri_game/user_prefs.json
*.pyc
/Onigiri_game/user_prefs.json
